<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Customer Registration</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>

<body>
	<header style="background-color: maroon; height: 30px;"> </header>

	<div class="container">
		<h3>Customer Registration Setup</h3>
		<img th:src="@{/images/editProfile.jpg}" alt="Logo"
			style="height: 140px" /> <br /> <span
			style="color: red; font-size: 18px;" id="message"></span>
		<form action="#" method="post"
			th:action="@{/customer/updateCustomerProfile}"
			th:object="${customerVO}">
	
			<table class="table table-bordered"
				style="width: 100%; font-size: 16px;">
				<input type="hidden" class="form-control" th:field="*{id}" id="id" />

				<tr>
					<th>Name:</th>
					<td><input type="text" class="form-control" th:field="*{name}"
						id="name" />
					<th>Mobile:</th>
					<td><input type="text" class="form-control"
						th:field="*{mobile}" /></td>
				</tr>
				
				<tr>
					<th>Email:</th>
					<td><input type="text" class="form-control"
						th:field="*{email}" readonly="readonly" /></td>
					<th>Job Title:</th>
					<td><input type="text" class="form-control"
						th:field="*{jobTitle}" /></td>
				</tr>



				<tr>
					<th>Address:</th>
					<td><input type="text" class="form-control"
						th:field="*{address}" />
					<th>SSN:</th>
					<td><input type="text" class="form-control" th:field="*{ssn}" />
					</td>
				</tr>



				<tr>
					<th>Gender:</th>
					<td><select class="form-control" th:field="*{gender}">
							<option value="Male">Male</option>
							<option value="Female">Female</option>
					</select></td>
					<th>Father Name</th>
					<td><input type="text" class="form-control"
						th:field="*{father}" /></td>
				</tr>

				<tr>
					<th>Qualification:</th>
					<td><select class="form-control" th:field="*{qualification}">
							<option value="B.TECH">B.TECH</option>
							<option value="BSC">BSC</option>
							<option value="M.TECH">M.TECH</option>
							<option value="MCA">MCA</option>
					</select></td>

					<th>DOB</th>
					<td><input type="text" class="form-control" th:field="*{dob}" /></td>
				</tr>

				<tr>
				
					<th><label for="question1"><b>Security Question1:</b></label></th>
					<td><select class="form-control" th:field="*{question1}"
						id="question1">
						<option th:each="questionsVO : ${questionsVOs}"
							th:value="${questionsVO.questions}" th:text="${questionsVO.questions}"></option>
					</select>
					</td>
					
					<th>Answer1: </th>
					<td><input type="text" class="form-control" th:field="*{answer1}" /></td>
				</tr>
				
				<tr>
				
					<th><label for="question2"><b>Security Question2:</b></label></th>
					<td><select class="form-control" th:field="*{question2}"
						id="question2">
						<option th:each="questionsVO : ${questionsVOs}"
							th:value="${questionsVO.questions}" th:text="${questionsVO.questions}"></option>
					</select>
					</td>
					<th>Answer2:</th>
					<td><input type="text" class="form-control" th:field="*{answer2}" />
					</td>
				</tr>
				
				
			</table>
			<button type="submit" class="btn btn-primary">Save & Submit</button>
		</form>
	</div>

</body>
</html>